# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Test and coverage files
.coverage
htmlcov/
.pytest_cache/